.home-container {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    
}

.h2appointment{
    margin-bottom: 45px;
    font-size: 45px;
    font-weight: bold;
}